* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  background: url(/img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .hero .containerHero {
    margin: 0 10rem; }
    .hero .containerHero .social {
      padding-top: 1rem;
      display: flex;
      justify-content: flex-start;
      gap: 1.5rem; }
    .hero .containerHero i {
      color: #ffffff;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all .3s ease-in; }
      .hero .containerHero i:hover {
        color: #969696; }
    .hero .containerHero .heroText {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 40%;
      color: #ffffff; }
      .hero .containerHero .heroText h3 {
        font-size: 3.2rem; }
      .hero .containerHero .heroText h1 {
        color: #cfcfcf;
        font-size: 6rem;
        font-weight: 700;
        line-height: 0.8; }
      .hero .containerHero .heroText h5 {
        font-size: 1.5rem; }
      .hero .containerHero .heroText .button {
        padding: .8rem;
        width: 9.5rem;
        border-radius: 100px;
        margin-top: 2rem;
        cursor: pointer;
        background-color: #F85C70;
        transition: all .3s ease-in; }
        .hero .containerHero .heroText .button:hover {
          background-color: #ff3a54; }
        .hero .containerHero .heroText .button div i {
          padding-right: .2rem;
          font-size: 1.3rem; }

.navBar {
  width: 100%;
  height: 4.5rem;
  position: sticky;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 16px -5px, rgba(0, 0, 0, 0.3) 0px 8px 8px -8px; }
  .navBar .navContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 10rem; }
    .navBar .navContainer .leftMenu {
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      margin-top: 1.5rem; }
    .navBar .navContainer li {
      list-style: none; }
    .navBar .navContainer a {
      text-decoration: none;
      color: #1b1b1b;
      font-size: 1rem;
      font-weight: 700; }
    .navBar .navContainer a.active {
      color: #F85C70; }
    .navBar .navContainer .profileImage {
      position: relative;
      top: -1.9rem;
      z-index: 1; }
      .navBar .navContainer .profileImage .imgeRouded {
        background-color: #ffffff; }
      .navBar .navContainer .profileImage img {
        border: 0.5rem solid #ffffff;
        border-radius: 50%;
        width: 10rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; }
      .navBar .navContainer .profileImage .profileName {
        text-align: center;
        color: #1b1b1b;
        display: none; }
      .navBar .navContainer .profileImage .name {
        font-size: 1.8rem;
        font-weight: 500; }
      .navBar .navContainer .profileImage .job {
        font-size: 1.3rem;
        font-weight: 300; }
    .navBar .navContainer .rightMenu {
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      margin-top: 1.5rem; }

.about {
  width: 100%;
  height: 30rem; }
  .about .aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .about .aboutContainer .aboutCard {
      border: 1px solid #dee2e6;
      padding: 4rem; }
      .about .aboutContainer .aboutCard .headerAbout {
        margin: 2rem 0 3.5rem 0; }
        .about .aboutContainer .aboutCard .headerAbout h1 span {
          border-bottom: 3px solid #ff3a54;
          padding-bottom: .5rem; }
        .about .aboutContainer .aboutCard .headerAbout h1 {
          font-size: 1.8rem; }
      .about .aboutContainer .aboutCard .content h3 {
        font-size: 1.5rem; }
      .about .aboutContainer .aboutCard .content p {
        padding: .5rem 0;
        color: #666666; }
      .about .aboutContainer .aboutCard .button {
        padding: .8rem;
        border: 1px solid #F85C70;
        border-radius: .5rem;
        width: 9.5rem;
        cursor: pointer;
        color: #F85C70;
        transition: all .3s ease-in-out; }
        .about .aboutContainer .aboutCard .button:hover {
          background-color: #F85C70;
          color: #ffffff; }
      .about .aboutContainer .aboutCard .info {
        list-style: none; }
        .about .aboutContainer .aboutCard .info li {
          margin-bottom: 1rem;
          color: #6d6d6d; }
        .about .aboutContainer .aboutCard .info li span {
          color: black;
          font-weight: 700; }
      .about .aboutContainer .aboutCard .social {
        display: flex;
        gap: 1rem;
        margin-top: 3rem; }
        .about .aboutContainer .aboutCard .social i {
          font-size: 1.2rem;
          color: #F85C70;
          cursor: pointer; }
      .about .aboutContainer .aboutCard .expertiseContent {
        display: flex; }
        .about .aboutContainer .aboutCard .expertiseContent .expertIcon {
          margin-top: .5rem;
          padding-right: 2.5rem; }
        .about .aboutContainer .aboutCard .expertiseContent i {
          font-size: 2rem;
          color: #F85C70; }
        .about .aboutContainer .aboutCard .expertiseContent .expertText {
          margin-bottom: 1.6rem;
          border-bottom: 1px solid #aaaaaa; }
          .about .aboutContainer .aboutCard .expertiseContent .expertText h3 {
            color: black;
            font-size: 1.2rem; }
          .about .aboutContainer .aboutCard .expertiseContent .expertText h5 {
            color: #6d6d6d;
            font-size: 1rem;
            padding-right: 3rem;
            margin-bottom: 1.2rem; }

.resume {
  margin-top: 10rem; }
  .resume .resumeContainer {
    margin: 0 8rem; }
    .resume .resumeContainer .headerResume {
      margin-bottom: 2rem; }
      .resume .resumeContainer .headerResume h1 {
        font-size: 2rem; }
      .resume .resumeContainer .headerResume h1 span {
        color: #F85C70; }
    .resume .resumeContainer .resumeCard {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem; }
      .resume .resumeContainer .resumeCard .contentResume .card {
        padding: 1rem;
        border: 1px solid #dee2e6;
        margin-bottom: 2rem; }
        .resume .resumeContainer .resumeCard .contentResume .card .headerContent {
          margin-bottom: 2rem; }
          .resume .resumeContainer .resumeCard .contentResume .card .headerContent h3 {
            font-size: 1.5rem; }
          .resume .resumeContainer .resumeCard .contentResume .card .headerContent h3 span {
            border-bottom: 2px solid #F85C70;
            padding-bottom: .5rem; }
        .resume .resumeContainer .resumeCard .contentResume .card .resumeText h3 {
          color: #F85C70;
          font-size: 1.3rem; }
        .resume .resumeContainer .resumeCard .contentResume .card .resumeText h5 {
          color: #6d6d6d;
          font-size: .8rem;
          margin-bottom: 1rem; }
        .resume .resumeContainer .resumeCard .contentResume .card .resumeText p {
          color: #6d6d6d; }
        .resume .resumeContainer .resumeCard .contentResume .card .skills .subject h3 {
          font-size: 1.2rem;
          color: #6d6d6d; }
        .resume .resumeContainer .resumeCard .contentResume .card .skills .progress {
          margin-bottom: .5rem;
          height: 5px; }
          .resume .resumeContainer .resumeCard .contentResume .card .skills .progress .progress-bar {
            height: 5px;
            background-color: #F85C70;
            width: 95%; }

.achievement {
  background-color: #1b1b1b;
  width: 100%;
  height: auto;
  margin: 4rem 0; }
  .achievement .achievementContain {
    margin: 0 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .achievement .achieveCard {
    display: flex;
    justify-content: center;
    align-items: center; }
    .achievement .achieveCard .achieveIcon {
      padding: 2rem 0; }
      .achievement .achieveCard .achieveIcon i {
        color: #ffffff;
        font-size: 5rem;
        border-right: 1px solid #ffffff;
        padding: 2rem 0;
        padding-right: 1.5rem; }
    .achievement .achieveCard .achieveTotal {
      margin-left: 1.5rem; }
      .achievement .achieveCard .achieveTotal h1 {
        color: #F85C70;
        margin-bottom: .5rem; }
      .achievement .achieveCard .achieveTotal p {
        color: #b4b4b4; }

.services {
  margin: 0 8rem; }
  .services .headerServices {
    margin-bottom: 4.5rem; }
    .services .headerServices h1 {
      font-size: 2rem; }
    .services .headerServices h1 span {
      color: #F85C70; }
  .services .container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem; }
    .services .container .servicesCard {
      position: relative;
      padding: 1.5rem 2rem 1.5rem 1.5rem;
      border: 1px solid #acacac;
      margin-bottom: 2rem; }
      .services .container .servicesCard .iconServices {
        position: absolute;
        top: -1.5rem;
        background-color: #ffffff;
        padding: .5rem; }
        .services .container .servicesCard .iconServices i {
          font-size: 2rem;
          color: #F85C70; }
      .services .container .servicesCard .servicesContent {
        margin-top: 2rem; }
        .services .container .servicesCard .servicesContent h2 {
          font-size: 1.3rem;
          margin-bottom: 1rem; }
        .services .container .servicesCard .servicesContent p {
          font-size: 1rem;
          color: #6d6d6d; }

.pricing {
  margin: 0 8rem; }
  .pricing .headerPricing {
    margin-top: 4.5rem;
    margin-bottom: 2.5rem; }
    .pricing .headerPricing h1 {
      font-size: 2rem; }
    .pricing .headerPricing h1 span {
      color: #F85C70; }
  .pricing .container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem; }
    .pricing .container .cardPricing {
      text-align: center;
      border: 1px solid #acacac;
      padding: 2rem 1rem;
      position: relative; }
      .pricing .container .cardPricing h2 {
        margin-bottom: 2rem;
        font-weight: 500; }
      .pricing .container .cardPricing .price {
        position: relative; }
        .pricing .container .cardPricing .price sup {
          position: relative;
          font-size: 1.2rem;
          top: -2.5rem;
          left: .5rem; }
        .pricing .container .cardPricing .price .num {
          font-size: 3.5rem;
          font-weight: 700; }
        .pricing .container .cardPricing .price .date {
          color: #6d6d6d; }
      .pricing .container .cardPricing .detail {
        margin: 2rem 0;
        color: #6d6d6d; }
      .pricing .container .cardPricing .button {
        padding: .5rem 2.5rem;
        background-color: #F85C70;
        color: #ffffff;
        border: none;
        border-radius: 50px;
        transition: all .3s ease-in-out;
        opacity: 0.8; }
        .pricing .container .cardPricing .button:hover {
          opacity: 1; }
  .pricing .cardPricing:nth-child(3) {
    padding: 5rem 0;
    overflow: hidden; }
    .pricing .cardPricing:nth-child(3)::after {
      content: 'New';
      position: absolute;
      right: -3rem;
      top: 10px;
      transform: rotate(45deg);
      font-size: 1rem;
      color: #ffffff;
      background-color: #F85C70;
      padding: .5rem 2rem;
      width: 150px; }

.hire {
  background-color: #1b1b1b;
  width: 100%;
  height: auto;
  margin: 5rem 0;
  padding: 3rem 0; }
  .hire .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .hire .container .hireText {
      font-size: 2rem;
      color: #ffffff;
      margin-bottom: 2rem; }
    .hire .container .button {
      padding: .5rem 2.5rem;
      background-color: #F85C70;
      border-radius: 5px;
      opacity: 0.9; }
      .hire .container .button:hover {
        opacity: 1; }

.portfolio {
  margin: 0 8rem; }
  .portfolio .headerPortfolio {
    margin-top: 4.5rem;
    margin-bottom: 2.5rem; }
    .portfolio .headerPortfolio h1 {
      font-size: 2rem; }
    .portfolio .headerPortfolio h1 span {
      color: #F85C70; }
  .portfolio .navPortfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem; }
    .portfolio .navPortfolio li {
      list-style: none;
      border-bottom: 1px solid #969696;
      padding-right: 2rem;
      padding-bottom: 1rem; }
    .portfolio .navPortfolio li a {
      text-decoration: none;
      color: #6d6d6d;
      padding: .5rem 1rem; }
    .portfolio .navPortfolio li a.active {
      color: #ffffff;
      background-color: #F85C70; }
  .portfolio .containerPort {
    grid-template-columns: 1fr; }
    .portfolio .containerPort .gallery {
      width: 100%;
      position: relative;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-rows: 250px;
      grid-auto-flow: dense;
      gap: 2rem; }
      .portfolio .containerPort .gallery .imageBox {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        max-width: 100%; }
        .portfolio .containerPort .gallery .imageBox img {
          background-position: center;
          background-size: cover;
          object-fit: cover;
          width: 100%;
          height: 100%; }
        .portfolio .containerPort .gallery .imageBox .overlay {
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          width: 100%;
          height: 100%;
          background-color: #F85C70;
          z-index: 1;
          opacity: 0;
          transition: all .2s ease-in-out; }
          .portfolio .containerPort .gallery .imageBox .overlay .title {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 1.8rem;
            color: #ffffff;
            font-weight: 700;
            transform: translate(-50%, -50%);
            padding-bottom: 4.2rem; }
          .portfolio .containerPort .gallery .imageBox .overlay .detail {
            font-size: 1rem;
            color: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%; }
      .portfolio .containerPort .gallery .imageBox:hover .overlay {
        opacity: 0.7; }
    .portfolio .containerPort .gallery.hide {
      display: none; }
    .portfolio .containerPort .gallery.active {
      display: grid;
      animation: animate .6s ease-in-out; }

@keyframes animate {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }
    .portfolio .containerPort #new .imageBox:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2; }
    .portfolio .containerPort #new .imageBox:nth-child(2n) {
      grid-column: span 2;
      grid-row: span 1; }
    .portfolio .containerPort #new .imageBox:nth-child(5n) {
      grid-column: span 2;
      grid-row: span 1; }
    .portfolio .containerPort #new .imageBox:nth-child(3) {
      grid-column: span 2;
      grid-row: span 1; }
    .portfolio .containerPort #advertising .imageBox:nth-child(odd) {
      grid-column: span 2; }
    .portfolio .containerPort #branding .imageBox:nth-child(3n+1) {
      grid-row: span 2; }
    .portfolio .containerPort #web .imageBox:nth-child(4) {
      grid-row: span 2;
      grid-column: span 2; }

.news {
  margin: 0 8rem; }
  .news .headerNews {
    margin-top: 10rem;
    margin-bottom: 4rem; }
    .news .headerNews h1 {
      font-size: 2rem; }
    .news .headerNews h1 span {
      color: #F85C70; }
  .news .container {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .news .container .newsCard {
      display: grid;
      grid-template-columns: 450px 1fr;
      align-items: center;
      border: 1px solid #dee2e6; }
      .news .container .newsCard .image {
        width: 100%;
        height: 100%; }
        .news .container .newsCard .image img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-size: cover; }
      .news .container .newsCard .content {
        padding: 1.5rem; }
        .news .container .newsCard .content .newSubject {
          font-size: 2.3rem;
          color: #1b1b1b;
          font-weight: 700; }
        .news .container .newsCard .content .review {
          display: flex;
          color: #969696;
          cursor: pointer; }
          .news .container .newsCard .content .review .reviews {
            padding-right: 1rem; }
          .news .container .newsCard .content .review .heart {
            padding-right: 1rem; }
            .news .container .newsCard .content .review .heart i {
              color: #F85C70; }
        .news .container .newsCard .content .textReview {
          font-size: 1.2rem;
          color: #969696; }
        .news .container .newsCard .content .textMark {
          font-size: 1.2rem; }
        .news .container .newsCard .content .more {
          text-decoration: none;
          color: #F85C70;
          cursor: pointer; }

.contact {
  margin-top: 5rem; }
